<!DOCTYPE html>
<html>
    <head>
        <title>
            Log in
        </title>
    </head>
    <body>
        <p>Se connecter</p>
        <form onsubmit=wait_for_ans("Auth","Log") id="Auth">
                <p>Pseudo <input type="text" name="username"></p>
                <p>Mot de passe <input type="text" name="password"></p>
            <input type="submit">
        </form>
        <p>Pas encore de compte? Créez-en un <a href={{url_for("Sign")}}>ici</a></p>
    </body>
</html>

<script src="static/REST.js"></script>